.box{
   margin: 0;
   padding: 0;
}
h1{  
    font-size: 70px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
    color:rgb(64, 193, 41);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li {
    border: 5px solid rgb(111, 255, 0);
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(41, 193, 193);
    min-height: 500px;
    min-width: 400px;
    margin-right: 10px;
    margin-left:10px;
  }
  
  h2 {
    font-size: 50px;
    font-style: italic;
    margin-top: 0;
  }
  img {
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    height: 300px;
    width: 300px;
    margin-left: 20px;
  }
  

  p {
    color: black;
    max-width: 400px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
  }